* {
  box-sizing: border-box; // Fix width and padding
}

html,
body {
  font-size: $fontSize;
  background-color: $background;
  overflow-x: hidden;
  letter-spacing: 0.04em;
}

body {
  line-height: 1.5;
  color: $fontColor;
  font-family: 'Advent Pro', sans-serif;
}

h1 {
  color: $h1Color;
}

h2 {
  color: $h2Color;
  margin-top: 1em;
  padding-top: 1em;
}

strong {
  color: $strongColor;
}

a {
  color: $primaryColor;
}

hr {
  padding: 0;
  margin: 0;
}