* {
  box-sizing: border-box; // Fix width and padding
}

html,
body {
  font-size: $fontSize;
  background-color: $background;
}

body {
  line-height: 1.5;
  color: $fontColor;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: $h1Color;
}

h2 {
  color: $h2Color;
  margin-top: 1em;
  padding-top: 1em;
}

strong {
  color: $strongColor;
}

a {
  color: $primaryColor;
  display: inline;
}

a[href^="javascript:window.location.href=atob"] {
  vertical-align: baseline;
  position: relative;
  display: inline-block;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.175rem;
    height: 1px;
    background-color: $primaryColor;
  }
  > svg {
    fill: $primaryColor;
    position: relative;
    top: 0.25rem;
  }
}


hr {
  padding: 0;
  margin: 0;
}