/*
 * General settings
 */
$primaryColor: #d81159;
$secondaryColor: #bfbdc1;

$jumperBlack: black;
$jumberWhite: white;

$jumperBrown: brown;
$jumperGreen: green;
$jumperYellow: yellow;
$jumperRed: red;
$jumperBlue: blue;
$jumperOrange: orange;
$jumperViolet: violet;

$background: rgb(255, 215, 179);
$background: #fff;
$fontColor: #555;
$fontSize: 1em;

// Banner
$BannerTitleColor: transparentize(#ff94b2, 0.5);
$BannerSubTitleColor: $BannerTitleColor;
$BannerPostTitleColor: #ff94b2;
$videoOverlayColor: rgba(0, 0, 0, 0.2);
$FrontpageHamburgerColor: $BannerTitleColor;
$FrontpageLogoColor: $BannerTitleColor;

$h1Color: #333;
$h2Color: $h1Color;
$strongColor: $h1Color;


// Menu component
$menuBorderColor: $secondaryColor;

//TODO
$logoColor: black;

$maxImgHeight: 10em;
$maxImgWidth: 35em;


//Footer
$ContainerSidePadding: 1.5em;
$FooterColor: #444;

$FooterBottomContentDim: 0.5;
$FooterBottomBackgroundColor: #222;
$FooterBackgroundColor: #333;
$FooterLinkColor: $BannerTitleColor;
$FooterTitleColor: #888;


$FooterBottomLogoWidth: 5em;
$FooterBottomTextWidth: 24em;
