/*
 * General settings
 */
$primaryColor: #d81159;
$secondaryColor: #bfbdc1;

$background: #fafafa;
$fontColor: #555;
$fontSize: 1em;

$h1Color: #333;
$h2Color: $h1Color;
$strongColor: $h1Color;

// Menu component
$menuBorderColor: $secondaryColor;

//TODO
$logoColor: $primaryColor;
