/*
 * General settings
 */
$primaryColor: #d81159;
$secondaryColor: #bfbdc1;

$jumperBlack: black;
$jumberWhite: white;

$jumperBrown: brown;
$jumperGreen: green;
$jumperYellow: yellow;
$jumperRed: red;
$jumperBlue: blue;
$jumperOrange: orange;
$jumperViolet: violet;

$background: rgb(255, 215, 179);
$background: #fff;
$fontColor: #555;
$fontSize: 1em;

// Banner
$BannerTitleColor: #ff94b2;
$BannerSubTitleColor: $BannerTitleColor;
$videoOverlayColor: rgba(0, 0, 0, 0.2);
$FrontpageHamburgerColor: $BannerTitleColor;
$FrontpageLogoColor: $BannerTitleColor;

$h1Color: #333;
$h2Color: $h1Color;
$strongColor: $h1Color;


// Menu component
$menuBorderColor: $secondaryColor;

//TODO
$logoColor: black;

$maxImgHeight: 10em;
$maxImgWidth: 35em;


//Footer
$containerSidePadding: 1.5em;
$footerColor: #444;

$footerContentDim: 0.5;
$footerBottomBackgroundColor: #222;
$FooterBackground: #333;
$footerLinkColor: $BannerTitleColor;
$FooterTitle: #888;


$footerBottomLogoWidth: 5em;
$footerBottomTextWidth: 24em;
