@import "variables";
@import "normalize";

@import "components/Footer";
@import "components/Menu";
@import "components/LanguageSwitcher";

// TODO
html,
body {
  color: $fontColor;
  font-family: Arial, Helvetica, sans-serif;
  font-size: $fontSize;
  background-color: $background;
}

// TODO
g#logo {
  stroke: $logoColor;
}