@import "variables";
@import "normalize";

@import "components/Footer";
@import "components/Menu";

// TODO
html,
body {
  color: $fontColor;
  font-family: Arial, Helvetica, sans-serif;
  font-size: $fontSize;
  background-color: $background;
}

// TODO
g#logo {
  stroke: $logoColor;
}

/*
 * LanguageSwitcher
 *
 * This component is used for displaying a horizontal list with "/" as a separator.
 */
ul.LanguageSwitcher {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px 1.1em;
  
  li {
    padding: 1.1em 0.2em;
  }

  // Ensure that the first list-item does not have a "/".
  li:not(:first-child):before {
    content: "/";
  }
}