<section>
    <div class="Container">
        <header>
            <h2>{{ i18n "sponsors" }}</h2>
        </header>
        <!-- TODO Sponsoren text -->
        <div class="Wrapper--Centered">
            <img src="/AdNovum_Logo-CMYK.svg" alt="AdNovum Logo" class="Logo--Sponsor">
            <img src="/M&S (Zusatz).svg" alt="M&S Logo" class="Logo--Sponsor">
        </div>
        <p>
            {{ i18n "become-sponsor" }} <a href="mailto: unihack@fsmib.com">unihack@fsmib.com</a>.
        </p>
    </div>
</section>