.Banner {
  width: 100vw;
  max-width: 100%;
  height: auto;
}
.Banner-Header {
  margin: 0px;
  padding: 0px;
  font-size: 2em;
  letter-spacing: 5px;
  font-weight: 800;
  color: #000;
}

.Banner-Subtitle {
  color: #000;
  font-size: 1.8em;
  margin: 0em 0em;
  padding: 0em;
  font-weight: 300;
}
