.Banner {
  width: 100%;
  height: 40em;
  background: url("/banner/IMG_9625_lzn.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.Banner-Header {
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-size: 4em;
}

.Banner-Subtitle {
    color: #fff;
    font-size: 2em;
    margin: 0em 0em;
}
