/*
 * Container
 *
 * This component can be used to center the main content.
 * It will layout text nicely.
 */
.Container {
  padding: 3em 1em;
  margin: auto;
  max-width: 40em;

  h2 {
    margin: 0rem 0rem 1.4rem 0rem;
    padding: 0;
  }

  h3 {
    margin: 0rem 0rem 0.2rem 0rem;
  }

  p {
    padding: 0rem;
    margin: 0rem 0rem 1.6rem 0rem;
    line-height: 1.8rem;
    hyphens: auto;
  }

  // Links in text will be underlined by default.
  a {
    color: $fontColor;
    text-decoration: underline;
  }

  a:hover {
    color: $accentPrimaryColor;
  }
}

.Container-Body-Flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Container-Newsletter {
  background: transparentize($BannerTitleColor, 0.8);
  border: 1px solid $primaryColor;
  border-radius: 3px;

  padding: 1em !important;
  margin-top: 2em !important;

  form {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.Container-Newsletter--Flex {
  display: flex;
  flex-direction: column;
}
