/*
 * Container
 *
 * This component can be used to center the main content.
 */

@mixin container($maxWidth){
  margin: auto;
  max-width: $maxWidth;

  // padding to bottom and top
  padding: 1.5em 1.5em;
}

.Container {
  @include container(50em);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h3{
    margin: 0;
    padding: 0;
  }

  img {
    padding: 2em 0;
    max-height: $maxImgHeight;
  }
}

.Container-About {
  @include container(60em);
}

.FooterContainer {
  @include container(75em);
  padding: 0;
}