/*
 * Footer component
 */
.Footer {
    width: 100%;
    border-top: 2px solid $menuBorderColor;

}

/*
 * Footer--fixed component
 * 
 * This component can be used as a footer, fixed to the bottom of a page.
 */
.Footer--fixed {
    @extend .Footer;
    position: fixed;
    // always at the bottom
    bottom: 0px;
    left: 0px;
}

.Footer-Content {
    box-sizing: border-box;
    margin: auto;
    max-width: 90%;
}

.Footer-Bottom {
    border-top: 2px solid $menuBorderColor;

    padding: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    text-align: center;

    div {
        padding: 0.5em 0.8em;
    }

    div:nth-child(2){
        flex-basis: max-content;
    }
}