/*
 * Footer component
 */
.Footer {
  width: 100vw;
  max-width: 100%;
  background-color: $FooterBackground;
  border-top: $footerBottomBackgroundColor 1px solid;
}

.Footer-Content {
  margin: auto;

  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

}

.Footer-ContentBlock {
  width: 10em;
  padding: 2em 0 3em;
}

.Footer-Title {
  margin: 0 auto;
  padding-bottom: 0.5em;
  color: $FooterTitle;
}

.Footer-Paragraph {
  display: block;
  margin: auto;
  padding: 0.3em 0;
}

.Footer-Link {
  color: $footerLinkColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.Footer-Link--Inline {
  padding: 0;
  display: inline-block;
}


/**
 *
 *  ------  Footer-Bottom ------
 *
 *
 */
.Footer-Bottom {
  background: $footerBottomBackgroundColor;
  color: rgb(255 * $footerContentDim, 255 * $footerContentDim, 255 * $footerContentDim);
}

.Footer-Bottom-Content {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  flex-basis: auto;
  padding-top: 0;
  padding-bottom: 0;

  @media screen and (max-width: $footerBottomLogoWidth + 2*$footerBottomTextWidth + 2*$containerSidePadding) {
    justify-content: center;
    flex-flow: column;
    align-items: center;
  }
}




/**
  Responsive design of the three columns at the bottom of the page
 */

.Footer-Bottom-Content-Block {
  padding-top: 2em;
  padding-bottom: 1em;
  width: $footerBottomTextWidth;

  svg {
    padding: 0;
    display: inline-block;

    height: 5em;
    width: 100%;

    filter: grayscale(1) invert($footerContentDim);

    &:hover {
      filter: none;
    }
  }

}

.Footer-Bottom-Content-Block--One {
  @extend .Footer-Bottom-Content-Block;
//visibility: hidden;
  width: $footerBottomLogoWidth;
  float: left;
}

.Footer-Bottom-Content-Block--Two {
  @extend .Footer-Bottom-Content-Block;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  max-width: 100%;
}

.Footer-Bottom-Content-Block--Three {
  @extend .Footer-Bottom-Content-Block;
//visibility: hidden;

  width: $footerBottomLogoWidth;
  float: right;
}