/*
 * Footer component
 */
.Footer {
    width: 100%;
    border-top: 2px solid $menuBorderColor;
    padding: 0em 0.8em;
    
    // CSS Grid
    display: grid;
    grid-template: 
        [row1-start] "left center right" 3fr;
}

/*
 * Footer--fixed component
 * 
 * This component can be used as a footer, fixed to the bottom of a page.
 */
.Footer--fixed {
    @extend .Footer;
    position: fixed;
    // always at the bottom
    bottom: 0px;
    left: 0px;
}

.Footer-LeftArea {
    grid-area: left;
}

.Footer-CenterArea {
    grid-area: center;
    text-align: center;
}

.Footer-RightArea {
    grid-area: right;
}