.FourColumns {
  width: 100%;
}



.FourColumns ul{
  display: inline-block;
  list-style: none;

  vertical-align: top;

  width: 32%;
  margin: 0;

  padding: 2em 0;
}

.FourColumns h3 {
  padding: 0.5em 0;
  margin: 0;
}

.FourColumns ul li {
  line-height: 1.4em;
  padding: 0.2em 1em;
}
