.FrontPageContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6em 0;


    .Title {
        font-size: 2em;
        margin: 0;
        padding: 1.5em 0;
    }
}

.Logo {
    max-width: 55vw;
    max-height: 20vh;
    padding: 2em;
}