.FrontPageContainer {
  margin: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6em 0;
  text-align: center;


  .Title {
    font-size: 2em;
    margin: 0;
    padding: 1.5em 0;

    @media only screen and (max-width: 940px) {
      padding: 1.5em 1em;
      font-size: 1.2em;
    }
  }

  p {
    font-size: 1.2em;
    max-width: 60vw;

    @media only screen and (max-width: 940px) {
      max-width: 80vw;
      font-size: 1em;
      padding: 1em 0;
    }
  }
}

.Logo {
  max-width: 55vw;
  max-height: 20vh;
  padding: 2em;
  @media only screen and (max-width: 940px) {
    max-width: 80vw;
    max-height: 30vh;
  }
}

.Catchphrase {
  padding: 4em;
  @media only screen and (max-width: 940px) {
    padding: 1.5em 1em;
    font-size: 1.1em;
  }
}