/*
 * LanguageSwitcher
 *
 * This component is used for displaying a horizontal list with "/" as a separator.
 */
ul.LanguageSwitcher {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px 0em;
  font-size: 2.5em;
  color: black;

  li {
    padding: 0em 0.2em;

    a {
      color: black;
    }
  }

  // Ensure that the first list-item does not have a "/".
  li:not(:first-child):before {
    content: "/";
  }
}
