/*
 * LEDBanner component
 *
 * Used to display LED banner.
 */
.LEDBanner {
  width: 100%;
  height: 20em;
  background: $background;
}

/*
 * LEDBanner-Canvas component
 *
 * This styles the canvas of a "LED banner", which just fills the whole "LEDBanner".
 */
.LEDBanner-Canvas {
  width: 100%;
  height: 100%;
}
