.LED {
  display: block;
  width: 100%;
  height: 20px;
  background: linear-gradient(45deg, $jumperViolet, $jumperYellow);

  mask: url(/led.svg);
  mask-size: 100% 100%;
  mask-position: 0%;
  mask-repeat: repeat-x;
  
}
