/*
 * Logo
 * 
 * This component styles the Logo(partials/logo.html).
 */
g.Logo {
  stroke: $logoColor;
}

/*
 * LogoLink
 * 
 * This component can be used to wrap the component into an anchor tag.
 */
a.LogoLink {
  z-index: 3;
  line-height: 0px;
  position: relative;
}

img.Logo--Sponsor {
  padding: 2rem 0;
  max-height: 10rem;
}
