/*
 * Logo
 * 
 * This component styles the Logo(partials/logo.html).
 */
div.Logo-Header svg.Logo {
  position: absolute;
  z-index: 999;
  transform: translate(0%, -50%);
}

g.Logo {
  stroke: $logoColor;
}

/*
 * LogoLink
 * 
 * This component can be used to wrap the component into an anchor tag.
 */
a.LogoLink {
  line-height: 0px;
}