.MemberSection {
  padding: 3em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.MemberSection-Content{
  padding: 1em 0;
  overflow: fragments;
  height: auto;
  width: 326px;
}

.MemberSection-Header{
  margin: 0;
}

.MemberSection-Title{
  font-size: 2em;
  margin: 0;
  padding: 0.2em 0;
}

.MemberSection-Image{
  display: block;
  max-height: 300px;
  height: auto;
}

.MemberSection-Contact{
}

.MemberSection-Contact a{
  font-weight: normal;
}


ul.RoleList {
  display: block;
  list-style: none;
  margin: 0;
  padding: 1em 0;
}

li.RoleList-Element{

  font-size: 1em;
  line-height: 1.5em;

  padding: 0.4em 0.8em;
  margin: 0 0.2em;
  border-radius: 2px;
}


