/*
 * MenuOverlay component
 */
.MenuOverlay {
  display: none;
  position: fixed;
  width: 100vw;
  max-width: 100%;
  height: 100vh;

  top: 0px;
  left: 0px;
  z-index: 2;

  background:rgba(0,0,0,0.9);
}

.MenuOverlay-Content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 5em 1.5em;
}

.MenuOverlay-Item {
  color: white;
  font-size: 2.5em;
  z-index: 5;
}

a.MenuOverlay-Item {
  text-decoration: none;
}

a.MenuOverlay-Item:hover {
  text-decoration: underline;
}
