// TODO seperate file
.MenuOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;

  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 2;

  transition: opacity;
  transition-duration: 0.3s;

  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-size: 400% 400%;
  background-image: linear-gradient(45deg, $jumperViolet, $jumperYellow);
}

@keyframes GadientAnimation {
  0% {
    background-position: 45% 0%;
  }
  50% {
    background-position: 56% 100%;
  }
  100% {
    background-position: 45% 0%;
  }
}

.Hamburger-Checkbox:checked ~ .MenuOverlay {
  opacity: 1;
  animation: GadientAnimation 10s ease infinite;
}
