/**
 * Menu component
 */
.Menu {
  // General
  width: 100%;
  padding: 1.5em 1.5em;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 120;
  // Flexbox
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Index {
  .Hamburger-Label > span {
    background: $FrontpageHamburgerColor;
  }
  .Logo {
    stroke: $FrontpageLogoColor;
  }
}

/*
   * Menu-Item component
   * 
   * Can be used within a Menu or a MenuGroup.
   */
a.Menu-MenuItem {
  display: block;
  color: white; //TODO variable
  padding: 1.1em;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/*
   * Menu-MenuItemGroup
   *
   * Can be used to group MenuItems.
   */
.Menu-MenuItemGroup {
  // Flexbox
  display: flex;
  justify-content: space-between;
  align-items: center;
}
