/**
 * Menu component
 */
.Menu {
  // General
  width: 100%;
  padding: 1em 0.8em;
  // Flexbox
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
   * Menu-Item component
   * 
   * Can be used within a Menu or a MenuGroup.
   */
a.Menu-MenuItem {
  display: block;
  color: white; //TODO variable
  transition: all 0.1s;
  padding: 1.1em;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/*
   * Menu-MenuItemGroup
   *
   * Can be used to group MenuItems.
   */
.Menu-MenuItemGroup {
  // Flexbox
  display: flex;
  justify-content: space-between;
  align-items: center;
}
