
.Newsletter-InfoIcon{
  width: 32px!important;
  padding: 0!important;
}


.Newsletter-Title {
  font-size: 1.2em;
  font-weight: 500!important;

  padding: 1em 1em 2em!important;
  margin: 0;
}

.Newsletter-Title--EvenPadding{
  @extend .Newsletter-Title;
  padding: 1em!important;
}

.Newsletter-InputBlock {
  width: 100%!important;
}

.Newsletter-Button {
  width: 100%!important;
  height: auto!important;

  background-color: $BannerTitleColor!important;

  margin: 0!important;
  padding: 0.5em 1.1em!important;

  color: $fontColor!important;
  font-weight: 600!important;
  font-size: 1.5em!important;

  border-radius: 3px!important;
}
