.Organizers {
  width: 100vw;
  text-align: center;
}

.Organizers-Logos {
  display: flex;

  flex-direction: row;
  justify-content: center;

  @media only screen and (max-width: 940px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.Organizers-Logo {
  padding: 2em;
}

#MIB-Logo {
  width: 40vw;

  @media only screen and (max-width: 940px) {
    width: 80vw;
  }
}

#FPA-Logo {
  width: 30vw;

  @media only screen and (max-width: 940px) {
    width: 80vw;
  }
}

.Organizers-Title {
  font-size: 2em;
  letter-spacing: 0.09em;
}