.ThreeColumns {
  // CSS Grid
  display: grid;
  grid-template:
          [row1-start] "left center right" 3fr;
}

.LeftArea {
  grid-area: left;
}

.CenterArea {
  grid-area: center;
  text-align: center;
}

.RightArea {
  grid-area: right;
}