
<section class="MemberSection">
  <header class="MemberSection-Header">
    <h2 class="MemberSection-Title">{{ .Title }}</h2>
    {{ partial "about/member-role" . }}
  </header>
  <div class="block-group">
    <div class="Column-50">
      <img class="Image" alt="{{ .Title }}" src="/about-us/{{ .Params.image }}">
    </div>
    <div class="Column-50">
      {{ partial "about/member-role" . }}
      <p>{{ .Content }}</p>
      <p>Contact: <a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a></p>
    </div>
  </div>
</section>