{{ define "main" }}
{{ partial "header/site-nav.html" . }}
<div class="Container-About">
    {{ range .Paginator.Pages }}
        {{ if not .Params.member}}
            {{ partial "about/about-us" . }}
            {{ i18n "become-sponsor" . }}
    <a href="mailto: unihack@fsmib.com">
        unihack@fsmib.com </a>.
        {{ end }}
    {{ end }}
    {{ range .Paginator.Pages }}
        {{ if .Params.member}}
            {{ partial "about/member-section" . }}
        {{ end }}
    {{ end }}
</div>
{{ end }}
{{ define "footer" }}
{{ partial "footer/footer.html" . }}
{{ end }}