<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.PostCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link rel="icon" type="image/png" href="/logo-32x32.png">
    <meta property="og:title" content="{{ i18n "meta-title" }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://unihack.ch/IMG_9644_lzn.jpg" />
    <meta property="og:video" content="https://unihack.ch/banner-video.mp4" />
    <meta property="og:url" content="https://unihack.ch/" />
    <meta property="og:description" content="{{ i18n "meta-description" }}" />
    <meta property="og:locale" content="{{ i18n "meta-locale" }}" />
    <meta property="og:site_name" content="unihack.ch" />
  </head>
  <body>
    {{ block "main" . }} {{ end }}
    {{ block "footer" . }}{{ end }}
    <!-- Bundle Javascript and load bundle -->
    {{ $anime := resources.Get "js/anime.min.js" }}
    {{ $main := resources.Get "js/main.js" }}
    {{ $matomo := resources.Get "js/matomo.js" }}
    {{ $js := slice $matomo $anime $main | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint}}
    <script src="{{ $js.Permalink }}"></script>
  </body>
</html>
