{{define "main"}}
{{ partial "header/site-nav.html" . }}
{{ partial "photoswipe.html" . }}
<div class="Container">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <div class="Boxes">
        <div class="Box">
            <a href="http://www.uniaktuell.unibe.ch/unibe/portal/uniaktuell/content/e760830/e794308/index_ger.html" target="_blank" class="Button__Link">«UniHack»: Selbstfahrende Roboter in 24 Stunden</a>
            <p class="Box-Text">Rund 20 Studierende nahmen am letzten Wochenende die Herausforderung an, in 24 Stunden einen selbstfahrenden Roboter zu programmieren. Trotz Schlafmangel wurde auch am Samstagnachmittag kurz vor Schluss noch eifrig getüftelt in der UniS. Ein Besuch am Hackathon «UniHack».</p>
            <a class="Box-readMore" href="http://www.uniaktuell.unibe.ch/unibe/portal/uniaktuell/content/e760830/e794308/index_ger.html">weiterlesen...</a>
        </div>
        <div class="Box">
            <a class="Box-readMore" href="{{ .Site.BaseURL }}/that-was-it/lama_007/">Manu online!</a>
        </div>
    </div>
</div>

<div class="Gallery">
    {{ $photoswipe := resources.Get "js/photoswipe.min.js" }}
    {{ $photoswipeui := resources.Get "js/photoswipe-ui-default.min.js" }}
    {{ $photoswipedom := resources.Get "js/photoswipe-from-DOM.js" }}
    {{ $jspwsp := slice $photoswipe $photoswipeui $photoswipedom | resources.Concat "js/bundle_photoswipe.js" | resources.Minify | resources.Fingerprint}}
    <script src="{{ $jspwsp.Permalink }}"></script>
    {{ $images := (slice "IMG_9800_edit.JPG" "IMG_9801.JPG" "IMG_9811_edit.JPG" "IMG_9812.JPG" "IMG_9813_edit.JPG" "IMG_9814.JPG" "IMG_9840.JPG" "IMG_9841.JPG" "IMG_9913.JPG" ) }}
    <div class="the-gallery" itemscope itemtype="http://schema.org/ImageGallery">
        {{ range $image := $images }}
        <figure class="the-gallery__figure" itemprop="associatedMedia" itemscope
                itemtype="http://schema.org/ImageObject">
            <a href="{{ $.Site.BaseURL }}/after-img/{{ $image }}" itemprop="contentUrl" data-size=" 2500x1666">
                <img class="the-gallery__image" src="{{ $.Site.BaseURL }}/after-img/{{ $image }}" itemprop="thumbnail"
                     alt="Image description"/>
            </a>
            <figcaption itemprop="caption description">.</figcaption>
        </figure>
        {{ end }}
    </div>
    <!--<script type="text/javascript">
        var pswpElement = document.querySelectorAll('.pswp')[0];

        // build items array
        var items = [
            {
                src: 'https://placekitten.com/600/400',
                w: 600,
                h: 400
            },
            {
                src: 'https://placekitten.com/1200/900',
                w: 1200,
                h: 900
            }
        ];

        // define options (if needed)
        var options = {
            // optionName: 'option value'
            // for example:
            index: 0 // start at first slide
        };

        document.addEventListener("DOMContentLoaded", function (event) {
            // Initializes and opens PhotoSwipe
            var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
        });
    </script>-->

</div>
{{ end }}
{{ define "footer" }}
{{ partial "footer/footer.html" . }}
{{ end }}