<div class="Footer">
    <div class="Footer-Content">
        <div class="Footer-Section">
            <h3>Contact</h3>
            <p>Fachschaft Mathematik und Informatik Bern</p>

            <a href="https://www.google.com/maps/place/Institut+f%C3%BCr+exakte+Wissenschaften,+Sidlerstrasse+5,+3012+Bern">
                Exakte Wissenschaften<br>
                Sidlerstrasse 5<br>
                3012 Bern</a>
            <a href="mailto: unihack@fsmib.ch">unihack@fsmib.ch</a>
        </div>
        <div class="Footer-Section">
            <h3>Links</h3>
            <a href="/challenges">Challenges</a>
            <a href="/program">Program</a>
            <a href=".">Newsletter</a>
        </div>
        <div class="Footer-Section">
            <h3>Sponsors</h3>
            <a href="https://www.adnovum.ch/">AdNovum</a>
            <a href="https://www.m-s.ch/">M&S Software Engineering</a>
        </div>
    </div>
    <div class="Footer-Bottom">
        <div>{{ partial "logo.html" .}}</div>
        <div>© 2019 Fachschaft Mathematik und Informatik Bern - All rights reserved</div>
        <div>u^b</div>
    </div>

</div>