<footer class="Footer">
    <div class="Footer-Content Container">
        <div class="Footer-ContentBlock">
            <h3 class="Footer-Title">{{ i18n "site" }}</h3>
            {{ range.Site.Menus.footer }}
            <p class="Footer-Paragraph">
                <a class="Footer-Link" href="{{ .URL }}" title="{{ .Title }}" class="Footer-Link">
                    {{- .Name -}} {{- with .Page -}} {{- end -}}
                </a>
            </p>
            {{ end }}
        </div>
        <div class="Footer-ContentBlock">
            <h3 class="Footer-Title">{{ i18n "sponsors" }}</h3>
            <p class="Footer-Paragraph">
                <a class="Footer-Link" target="_blank" href="https://www.adnovum.ch/">AdNovum</a>
            </p>
            <p class="Footer-Paragraph">
                <a class="Footer-Link" target="_blank" href="https://www.m-s.ch/">M&S Software Engineering</a>
            </p>
            <p class="Footer-Paragraph">
                <a class="Footer-Link" target="_blank" href="{{ i18n " unibe-link" }}">{{ i18n "unibe" }}</a>
            </p>
        </div>
        <div class="Footer-ContentBlock">
            <h3 class="Footer-Title">{{ i18n "languages" }}</h3>
            {{ range.AllTranslations }}
            <p class="Footer-Paragraph">
                <a class="Footer-Link" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            </p>
            {{ end }}
        </div>
        <div class="Footer-ContentBlock">
            <h3 class="Footer-Title">{{ i18n "contact" }}</h3>
            <p class="Footer-Paragraph">
                <a class="Footer-Link" href="mailto:unihack@fsmib.ch">unihack@fsmib.ch</a>
            </p>
            {{ range where .Site.Menus.main "Identifier" "about" }}
            <p class="Footer-Paragraph">
                <a class="Footer-Link" href="{{ .URL }}" title="{{ .Title }}" class="Footer-Link">
                    {{ .Name }}
                </a>
            </p>
            {{ end }}
            <!-- //TODO link to Impressum -->

        </div>
    </div>
    <div class="Footer-Bottom">
        <div class="Footer-Bottom-Content Container">
            <div class="Footer-Bottom-Content-Block--One Footer-Bottom-SVG--Smaller">{{ partial "logo.html" .}}</div>
            <div class="Footer-Bottom-Content-Block--Two">© 2019 Fachschaft Mathematik und Informatik Bern - {{ i18n "rights" }}</div>
            <div class="Footer-Bottom-Content-Block--Three Footer-Bottom-SVG">
                <a class="Footer-Link--Inline" href="/" title="Unibe" target="_blank">
                    {{ partial "footer/unibe.svg"}}
                </a>
            </div>
        </div>
    </div>
</footer>