<a href="/" title="Home" class="LogoLink" id="logo">
  <svg
    id="unihack-logo"
    width="44px"
    height="44px"
    viewBox="0 0 160 160"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <g
      stroke="none"
      stroke-width="1"
      fill="none"
      fill-rule="evenodd"
    >
      <g id="New-Golden-Logo">
        <g class="Logo" stroke="black">
          <rect stroke-width="6" x="3" y="3" width="154" height="154"></rect>
          <polyline
            class="Logo"
            stroke-width="6"
            points="15 12 15 145 56.0247296 145 56.0247296 15 73.6919891 15 73.6919891 145 91.1713652 145 91.1713652 74 127.294369 74 127.294369 15 145 15 145 148"
          ></polyline>
        </g>
      </g>
    </g>
  </svg>
</a>
