{{ define "main" }}
<section class="Banner Page--Banner">
    <div class="Banner-VideoOverlay">
        {{ partial "header/site-nav-index.html" . }}
        <div class="Banner-Header">
            <h1 class="Banner-Title">UniHack</h1>
            <h2 class="Banner-Subtitle">{{ i18n "date"}}</h2>
            <h2 class="Banner-Subtitle">{{ i18n "catchphrase"}}</h2>
        </div>
    </div>
    <div class="Banner-VideoContainer">
        <video playsinline autoplay muted loop poster="/banner-poster.jpg">
            <source src="/banner-video.mp4" type="video/mp4">
        </video>
    </div>
</section>

<main role="main">
    <section class="Container">
        <h2>{{ i18n "organizedBy" }}</h2>
        <img src="/logo_mib_text.svg" alt="MIB Logo">
        <img src="/logo_fpa.svg" alt="FPA Logo">
    </section>
    <section class="Container">
        {{ with .Site.GetPage "/frontpage/motivation" }}
        {{ .Content }}
        {{ end }}
        <!-- TODO Newsletter box -->
    </section>
    <section class="Container">
        <h2>{{ i18n "sponsors" }}</h2>
        <img src="/AdNovum_Logo-CMYK.svg" alt="AdNovum Logo">
        <img src="/M&S (Zusatz).svg" alt="M&S Logo">
    </section>
</main>
{{ end }}
{{ define "footer" }}
{{ partial "footer/site-footer-unfixed.html" . }}
{{ end }}
