{{ define "main" }}
<main role="main">
    <section class="Banner Page--Banner">
        {{ partial "header/site-nav.html" . }}
        <div class="Container">
            <h1 class="Banner-Header">UniHack</h1>
            <h2 class="Banner-Subtitle">29. - 30. März 2019</h2>
        </div>
    </section>
    <section class="FrontPage">
        <h1 class="FrontPageContainer Catchphrase">{{ i18n "catchphrase" }}</h1>
    </section>
    <section class="FrontPageContainer">
        <h2 class="FrontPageContainer Title">{{ i18n "organizedBy" }}</h2>
        <img class="FrontPageContainer Logo Organizers" src="/logo_mib_text.svg">
        <img class="FrontPageContainer Logo Organizers" src="/logo_fpa.svg">
    </section>
    <section class="FrontPageContainer">
        {{ with .Site.GetPage "/frontpage/motivation" }}
        {{ .Content }}
        {{ end }}
        <!-- TODO Newsletter box -->
    </section>
    <section class="FrontPageContainer">
        <h2 class="FrontPageContainer Title">{{ i18n "sponsors" }}</h2>
        <img class="FrontPageContainer Logo" src="/AdNovum_Logo-CMYK.svg">
        <img class="FrontPageContainer Logo" src="/M&S (Zusatz).svg">
    </section>
</main>
{{ end }}
{{ define "footer" }}
{{ partial "footer/site-footer-unfixed.html" . }}
{{ end }}
