<div id="navigation">
  <nav>
    <ul>
      {{ range.Site.Menus.main }}
      <li>
        <a href="{{ .URL }}" title="{{ .Title }}">
          {{- .Name -}} {{- with .Page -}}
          {{- end -}}
        </a>
      </li>
    {{ end }}
    </ul>
  </nav>
  <ul id="languages">
      {{ range .AllTranslations }}
        <li>
          {{ if eq .Lang $.Page.Lang }}
              {{ .Language.LanguageName }}
            {{ else }}
              <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
          {{ end }}
        </li>
      {{ end }}
    </ul>
</div>

