<section>
    <div class="Container">
        <header>
            <h2>{{ i18n "sponsors" }}</h>
        </header>
        <div class="Container-Body-Flex">
            <a class="Sponsor" href="https://www.adnovum.ch/"><img src="/AdNovum_Logo-CMYK.svg" alt="AdNovum Logo"></a>
            <a class="Sponsor" href="https://www.m-s.ch/"><img src="/M&S (Zusatz).svg" alt="M&S Logo"></a>
            <a class="Sponsor" href="https://inpeek.ch/"><img src="/inpeek.svg" alt="Inpeek"></a>
        </div>
        <p>
            {{ i18n "become-sponsor" }}
            <a href="mailto: unihack@fsmib.ch">unihack@fsmib.ch</a>.
        </p>
    </div>
</section>